<style>
    body {
        background-color: red;
    }
</style>



<h1 style="text-align: center;">JANAY IS SUCH A BEAUTIFUL BAE</h1>
    <h2>List of what I like about her:</h2>
    <ul>
        <ol>Janay got some pretty eyes</ol>
        <ol>Janay ass is fat asf</ol>
        <ol>Janay loves to compete</ol>
        <ol>Janay can twerk</ol>
    </ul>